@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar-track {
  --tw-scrollbar-track: #e5e7eb;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Cor da barra de rolagem */
  border-radius: 4px; /* Arredondamento da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); /* Cor do fundo da barra de rolagem */
}

